body{margin:0; background:url(http://www.qandc.com/img/page-bg.png); font-family:'nexa_boldregular', sans-serif; font-size:14px; line-height:25px; color:#7d7a75;}
h7{font-family:'nexa_boldregular', sans-serif; font-size:14px; line-height:25px; color:#7d7a75;}

h1, h2, h3, h4, h5, h6{font-family:'Oswald', sans-serif; font-weight:400; color:#4c4b48; margin:0 0 25px 0; text-transform:uppercase;}
ul, ol, dl, table, p{margin:0 0 15px 0;}


h1{font-size:25px; line-height:37.5px;}
h2{font-size:20px;}
h3{font-size:16px; margin-bottom:5px;}

hr{margin:25px 72px; padding:0; border:none; border-bottom:1px solid #a4a5a9; background:none;}

body:before,
#sidebar,
#colophon,
.entry-footer {
	display:none;
}

.site-content {
	margin: 0 auto;
	float: none;
	width: 100%;
	max-width: 1200px;
}

.btn{border:2px solid #7d7a75; color:#7d7a75; padding:2px 7px; text-decoration:none; font-size:12px; font-weight:700;}
.btn:hover{background:#552277 !important; color:#FFFFFF !important; border-color:#FFFFFF !important;}

.bx-controls-direction a:focus{outline:none;}

.align-right{text-align:right;}
.quote-right{float:left; margin:0 25px 25px 0; width:185px;}



.page-frame{width:100%; max-width:1010px; margin:0 auto;}
.header{position:relative; padding:65px 25px 0;background-color: transparent!important;}
.page-logo{position:absolute; display:block; top:40px; left:0; z-index:99;}
.page-logo img{display:block;}

.top-nav{position:absolute; margin:0; padding:0; list-style-type:none; line-height:25px; height:25px; top:0; right:25px;}
.top-nav li{margin:0; padding:6px 12px 0 12px; float:left; }
.top-nav a{color:#4d4d4b; text-decoration:none; font-size:17px; font-weight:500;}
.top-nav li.highlight{background:#552277; margin-left:12px;}
.top-nav li.highlight{color:#fff; font-weight:300; font-size:15px;}
.top-nav li.highlight:hover{background:#242527; cursor:pointer;}
.top-nav img:hover{opacity:0.75;}

.main-nav{position:absolute; margin:0; padding:0px; list-style-type:none; line-height:12px; height:12px; top:40px; right:25px;}
.main-nav li{margin:0; padding:0; float:left; position:relative;}
.main-nav li:first-child{border-left:none;}
.main-nav a{color:#4d4d4b; font-size:12px; font-weight:500; text-decoration:none;}
.main-nav li.selected a, .main-nav li a:hover{color:#552277; text-decoration:underline}

.main-nav li.more-toggle{border:none;}
.main-nav li.more-toggle img{position:relative; display:block; cursor:pointer;}
.main-nav li.more-frame{display:none; border:none;}

.main-nav .dropdown{position:absolute; top:23px; left:-10px; background:#fff; z-index:998; margin:0; padding:5px 0; list-style:none; min-width:100px; display:none;}
.main-nav .dropdown li{float:none; position:static; padding:5px 10px;}
.main-nav .dropdown a{font-size:14px;}

.main-nav li:hover .dropdown{display:block;}


.reservations-frame{position:absolute; z-index:999; top:0px; right:0; width:170px; padding:10px 15px 15px; background:#242527; display:none; text-align:left; color:#fff; font-size:14px; line-height:20px;}
.reservations-frame input{display:block; width:150px; padding:5px; margin-bottom:10px;}
.reservations-frame input#book-now{background:none; font-size:12px; font-weight:700; font-family:'nexa_lightregular', sans-serif; border:1px solid #fff; color:#fff; padding:5px 10px; margin-bottom:0; width:165px;}
.reservations-frame input#book-now:hover{background:#fff; color:#552277; cursor:pointer; transition:all 0.5s;}
.reservations-frame .reservations-close{position:absolute; top:0; right:0; width:30px; height:30px; background:url(http://www.qandc.com/img/close-btn-2.png);}


.banner{position:relative;}
.banner img{display:block; max-width:100%; width:100%; height:auto;}
.banner ul{margin:0; padding:0; list-style-type:none;}
.banner li{margin:0; padding:0;}

.banner .bx-next{position:absolute; top:32px; right:-25px; height:32px; width:32px; background:url(../img/arrow-next.png); text-indent:-9999px;}
.banner .bx-next:hover{position:absolute; top:32px; right:-25px; height:32px; width:32px; background:url(../img/arrow-next-hover.png); text-indent:-9999px;}
.banner .bx-prev{position:absolute; top:32px; right:7px; height:32px; width:32px; background:url(../img/arrow-prev.png); text-indent:-9999px;}
.banner .bx-prev:hover{position:absolute; top:32px; right:7px; height:32px; width:32px; background:url(../img/arrow-prev-hover.png); text-indent:-9999px;}


.nav-fixed .top-sticky-frame{position:fixed; top:0; left:0; width:100%; height:65px; z-index:999;}
.nav-fixed .top-sticky{width:960px; position:relative; margin:0 auto; height:64px; background:url(http://www.qandc.com/img/page-bg.png); border-bottom:1px solid #eee;}
.nav-fixed .page-logo{top:0;}
.nav-fixed .page-logo img{height:65px;}

.nav-fixed .main-nav{right:0;}
.nav-fixed .top-nav{right:0;}
.nav-fixed .booking-widget{right:0;}


.booking-widget{display:none; position:absolute; top:0; right:25px; width:200px; height:200px; background:#242527; padding:20px 25px 30px; color:#ccc; z-index:999;}
.booking-widget input{padding:5px; border:none; background:#fff; width:190px; margin-bottom:5px;}
.booking-widget select{padding:0; border:none; background:#fff; width:95%; height:20px;}
.booking-widget .promo, .booking-widget .adults, .booking-widget .children{float:left; width:33%;}
.booking-widget .promo input{padding:0; width:95%; height:20px; margin:0;}
.booking-widget .submit{clear:both;}
.booking-widget .submit button{cursor:pointer; background:#552277; text-align:center; border:0; font-family:'nexa_boldregular', sans-serif; font-size:14px; padding:5px 0; font-weight:300; width:100%; color:#fff; text-transform:uppercase; margin-top:15px;}

.booking-widget .res-btn-close{position:absolute; top:42px; right:-25px; width:32px; height:32px; background:url(http://www.qandc.com/img/close-btn.png);}


.body{background:#fff; margin:0 25px;}


.footer{padding:5px 0 0; margin:25px 25px 25px 25px; border-top:2px solid #58595b;background-color: transparent!important;}
.footer-nav{overflow:hidden; line-height:15px;}
.footer-nav a{display:block; text-transform:uppercase; font-size:10px; font-weight:700; margin:20px 0 10px 0; color:#302f2d; text-decoration:none;}
.footer-nav .sub{font-size:10px; font-weight:300; color:#302f2d;}
.footer-nav .sub a{text-transform:none; margin:0; border-left:2px solid #cbc9c7; padding:0 0 0 12px; font-weight:300;}
.footer-nav a:hover{color:#8f3575;}

.footer-nav-1{float:left; width:175px; margin-right:20px;}
.footer-nav-2{float:left; width:175px; margin-right:20px;}
.footer-nav-3{float:left; width:175px; margin-right:20px;}
.footer-nav-4{float:left; width:175px; margin-right:20px;}
.footer-nav-5{float:left; width:175px;}

.footer-nav-5 a{display:inline-block; padding-right:8px;}
.footer-nav-5 h5{margin:10px 0;}
.footer-nav-5 form{position:relative;}
.footer-nav-5 input{border:1px solid #9a9a9a; background:#fff; font-size:12px; font-family:'nexa_lightregular', sans-serif; padding:3px; margin:5px 0; width:141px;}
.footer-nav-5 button{border:none; background:#302f2d; position:absolute; right:0; bottom:5px; color:#fff; width:25px; height:25px;}
.footer-nav-5 button:hover{opacity:0.75; cursor:pointer;}

.footer-nav-5 img:hover{opacity:0.75;}

.copyright{text-align:right; font-size:12px; padding-top:25px;}
.copyright a{color:#302f2d; text-decoration:none;}


.form{}

.form table{border-collapse:collapse;}

.form td{vertical-align:top;text-align:left;padding:8px;border-top:1px solid #eee;}
.form td span{display:block;font-size:9px;}
.form td b{color:#ddd;}

.form td:first-child{width:200px;}


.form td.heading{background:#eee;font-weight:bold;border-top:0px solid #fff;font-size:16px;}
.form td.submit{text-align:center;border-bottom:5px solid #eee;border-top:20px solid #fff;padding-bottom:30px;}

.form input[type=text]{width:300px;padding:5px;}
.form textarea{width:300px;height:150px;padding:5px;}
.form button{border:none;border:none;background-color:#552277;color:#fff;padding:10px 20px;}
.form button:hover{color:#fff;transition:all 0.5s;background:#4d4d4f; text-decoration:none;}
.form .other{display:block;position:absolute;top:-9999px;left:-9999px;}




.content-intro{padding:50px 40px 25px; text-align:center;}

.event-slider-frame{position:relative;}
.event-slider-frame ul{margin:0; padding:0; list-style-type:none;}
.event-slider-frame li{margin:0; padding:0;}
.event-slider-frame .fix{position:absolute; top:0; left:-25px; width:25px; height:50px; background:#fff;}
.event-slider-frame .bx-next{position:absolute; top:75px; right:-25px; height:32px; width:32px; background:url(../img/arrow-next.png); text-indent:-9999px;}
.event-slider-frame .bx-next:hover{position:absolute; top:75px; right:-25px; height:32px; width:32px; background:url(../img/arrow-next-hover.png); text-indent:-9999px;}
.event-slider-frame .bx-prev{position:absolute; top:75px; left:-25px; height:32px; width:32px; background:url(../img/arrow-prev.png); text-indent:-9999px;}
.event-slider-frame .bx-prev:hover{position:absolute; top:75px; left:-25px; height:32px; width:32px; background:url(../img/arrow-prev-hover.png); text-indent:-9999px;}

.eventhome{height:300px; position:relative;}
.eventhome .heading{position:absolute; top:0; background:#fff; z-index:1;}
.eventhome .image{position:absolute; top:0; left:0; width:320px; height:300px; display:block;}
.eventhome .content{position:absolute; top:0; left:320px; height:250px; width:570px; padding:50px 35px 0 35px; background:#e6dfcf; font-weight:300; color:#302f2d; line-height:22px; overflow:hidden;}
.eventhome .content a{color:#302f2d; border-color:#302f2d;}

.eventhome .heading h2{margin:0; padding:10px 25px 10px; line-height:30px;}
.eventhome .heading .date{position:absolute; top:0; right:-50px; width:50px; height:50px; background:#232426; color:#fff; text-align:center;}
.eventhome .heading .month{display:block; border-bottom:1px solid #ccc; margin:5px 10px 0 10px; padding-bottom:1px; line-height:15px; font-size:12px;}
.eventhome .heading .day{display:block; font-size:20px; line-height:20px; font-weight:700;}

.event{height:300px; position:relative;}
.event .heading{position:absolute; top:0; left:-25px; background:#fff; z-index:1;}
.event .image{position:absolute; top:0; left:0; width:320px; height:300px; display:block;}
.event .content{position:absolute; top:0; left:320px; height:250px; width:570px; padding:50px 35px 0 35px; background:#e6dfcf; font-weight:300; color:#302f2d; line-height:22px; overflow:hidden;}
.event .content a{color:#302f2d; border-color:#302f2d;}

.event .heading h2{margin:0; padding:10px 25px 10px; line-height:30px;}
.event .heading .date{position:absolute; top:0; right:-50px; width:50px; height:50px; background:#232426; color:#fff; text-align:center;}
.event .heading .month{display:block; border-bottom:1px solid #ccc; margin:5px 10px 0 10px; padding-bottom:1px; line-height:15px; font-size:12px;}
.event .heading .day{display:block; font-size:20px; line-height:20px; font-weight:700;}








.content-package{height:300px; position:relative;}
.content-package .heading{position:absolute; top:0; left:-25px; background:#fff; z-index:1;}
.content-package .image{float:left; width:480px; height:300px; overflow:hidden;}
.content-package .content{float:right; width:410px; height:265px; padding:35px 35px 0 35px; background:#1d1d1d; font-weight:300; color:#fff; line-height:22px; overflow:hidden;}
.content-package .content a{color:#fff; border-color:#fff;}

.content-package .heading h2{margin:0; padding:10px 25px 10px; line-height:30px;}
.content-package .content h3{color:#fff;}








.image-slider-frame{position:relative;}
.image-slider-frame ul{margin:0; padding:0; list-style-type:none;}
.image-slider-frame li{margin:0; padding:0;}
.image-slider-frame img{display:block;}
.image-slider-frame .bx-next{position:absolute; top:75px; right:-25px; height:32px; width:32px; background:url(../img/arrow-next.png); text-indent:-9999px;}
.image-slider-frame .bx-next:hover{position:absolute; top:75px; right:-25px; height:32px; width:32px; background:url(../img/arrow-next-hover.png); text-indent:-9999px;}
.image-slider-frame .bx-prev{position:absolute; top:75px; left:-25px; height:32px; width:32px; background:url(../img/arrow-prev.png); text-indent:-9999px;}
.image-slider-frame .bx-prev:hover{position:absolute; top:75px; left:-25px; height:32px; width:32px; background:url(../img/arrow-prev-hover.png); text-indent:-9999px;}
.image-slider-frame .heading{position:absolute; top:0; left:-25px; background:#fff; z-index:99;}
.image-slider-frame .heading h2{margin:0; padding:10px 25px; line-height:30px;}







.content-room{height:385px; position:relative;}
.content-room .image{float:left; width:630px; height:385px; position:relative;}
.content-room .content{float:right; width:260px; height:315px; padding:35px; overflow:hidden; font-weight:300; line-height:22px; border-bottom:1px solid #a4a5a9;}

.content-room:last-child .content{border-bottom:none;}
.content-room .content ul{padding-left:15px;}

.content-room .image ul{margin:0; padding:0; list-style-type:none;}
.content-room .image li{margin:0; padding:0;}
.content-room .image .bx-next{position:absolute; top:32px; right:-25px; height:32px; width:32px; background:url(../img/arrow-next.png); text-indent:-9999px;}
.content-room .image .bx-next:hover{position:absolute; top:32px; right:-25px; height:32px; width:32px; background:url(../img/arrow-next-hover.png); text-indent:-9999px;}
.content-room .image .bx-prev{position:absolute; top:32px; right:7px; height:32px; width:32px; background:url(../img/arrow-prev.png); text-indent:-9999px;}
.content-room .image .bx-prev:hover{position:absolute; top:32px; right:7px; height:32px; width:32px; background:url(../img/arrow-prev-hover.png); text-indent:-9999px;}






.content-specials{height:445px; position:relative;}
.content-specials .image{float:left; width:630px; height:385px; position:relative;}
.content-specials .content{float:right; width:260px; height:315px; padding:35px; overflow:hidden; font-weight:300; line-height:22px; border-bottom:1px solid #a4a5a9;}
.content-specials .booking-special{clear:both; height:60px; background:#242527; position:relative;}

.content-specials:last-child .content{border-bottom:none;}
.content-specials .content ul{padding-left:15px;}

.content-specials .image ul{margin:0; padding:0; list-style-type:none;}
.content-specials .image li{margin:0; padding:0;}
.content-specials .image .bx-next{position:absolute; top:32px; right:-25px; height:32px; width:32px; background:url(../img/arrow-next.png); text-indent:-9999px;}
.content-specials .image .bx-next:hover{position:absolute; top:32px; right:-25px; height:32px; width:32px; background:url(../img/arrow-next-hover.png); text-indent:-9999px;}
.content-specials .image .bx-prev{position:absolute; top:32px; right:7px; height:32px; width:32px; background:url(../img/arrow-prev.png); text-indent:-9999px;}
.content-specials .image .bx-prev:hover{position:absolute; top:32px; right:7px; height:32px; width:32px; background:url(../img/arrow-prev-hover.png); text-indent:-9999px;}



.booking-special form{padding:15px 25px 15px 0; color:#ccc;}
.booking-special form > div{float:left; padding-left:25px;}
.booking-special input{padding:5px; border:none; background:#fff; width:70px; margin-left:5px;}
.booking-special select{padding:0; border:none; background:#fff; width:70px; height:26px; margin-left:5px;}
.booking-special .submit button{cursor:pointer; background:#8f3575; text-align:center; border:0; font-family:'nexa_boldregular', sans-serif; font-size:14px; padding:3px 0; font-weight:300; width:105px; color:#fff; text-transform:uppercase;}

.booking-widget .res-btn-close{position:absolute; top:42px; right:-25px; width:32px; height:32px; background:url(../img/close-btn.png);}






.content-columns{overflow:hidden; padding:25px 100px 0 125px;}
.content-columns .col-1x2{float:left; width:330px; padding-right:25px;}
.content-columns .col-1x4{float:left; width:158px; padding-right:25px;}
.content-columns ul{padding-left:15px;}


.content-basic{overflow:hidden; padding:25px 125px 0;}
.content-basic ul{padding-left:15px;}


.image-gallery{overflow:hidden;}
.image-gallery img{display:block; float:left; opacity:0.6;}
.image-gallery img:hover{opacity:1;}





.mobile-header{display:none;}











@media screen and (max-width: 900px) {
	body{background:#fff;}
	
	hr{margin:0 25px 25px;}

	.page-frame{width:auto; margin:auto;}

	.header{display:none;}
	.mobile-header{display:block; position:relative; background:#232426;}

	.mobile-header .page-logo{position:static; display:block; padding-left:3px;}
	.mobile-header .number{position:absolute; top:0; left:50%; width:200px; margin-left:-100px; line-height:55px; color:#fff; text-decoration:none; text-align:center; font-family:'Oswald', sans-serif; font-weight:400; font-size:20px;}
	.mobile-header .reservation{display:block; text-align:center; background:#552277; line-height:32px; font-weight:500; color:#fff; text-decoration:none; font-size:16px;}

	.mobile-header .mobile-nav-trigger{position:absolute; top:0; right:0; width:55px; height:55px; background:url(http://www.qandc.com/img/mobile-nav-trigger.png);}
	.mobile-header .banner .bx-next{bottom:0; right:0px; top:auto;}
	.mobile-header .banner .bx-prev{bottom:0; right:32px; top:auto;}


	.mobile-nav-frame{display:none;}
	.mobile-nav{border-top:1px solid #fff; padding:2px 0 7px; margin:5px 15px 0; list-style-type:none;}
	.mobile-nav li{padding:0; margin:0; border-top:1px solid #444; line-height:30px;}
	.mobile-nav li:first-child{border-bottom:none;}
	.mobile-nav li a{color:#ccc; font-weight:500; text-decoration:none;}
	.mobile-nav ul li{border-top:none;}


	.body{margin:0;}

	.footer-nav a{margin-bottom:0;}
	.footer-nav .sub a{border-left:none; padding:0;}
	.footer-nav-1{display:none;}
	.footer-nav-2{display:none;}
	.footer-nav-3{display:none;}

	.copyright{text-align:center; font-size:12px; padding-top:15px; margin-top:50px; border-top:2px solid #cbc9c7;}
	.copyright span{display:none;}

	.content-intro{padding:25px 25px 0;}

	.event-slider-frame .fix{display:none;}
	.event-slider-frame .bx-next{top:auto; left:auto; right:0px; bottom:0px;}
	.event-slider-frame .bx-prev{top:auto; left:auto; right:32px; bottom:0px;}

	.event{height:auto; position:relative;}
	.event .heading{position:absolute; top:0; left:0; background:#fff; z-index:1;}
	.event .image{display:none;}
	.event .content{position:static; height:auto; width:auto; padding:75px 25px 25px;}
	.event .heading h2{padding:10px 25px;}

	.eventhome{height:390px; position:relative;}
	.eventhome .heading{position:absolute; top:0; left:0; background:#fff; z-index:1;}
	.eventhome .image{display:none;}
	.eventhome .content{position:static; height:390px; width:auto; padding:75px 25px 25px;}
	.eventhome .heading h2{padding:10px 25px;}

	.content-package{height:auto; position:relative;}
	.content-package .heading{left:0;}
	.content-package .image{display:none;}
	.content-package .content{float:none; width:auto; height:auto; padding:75px 25px 25px;}

	.image-slider-frame .bx-next{top:auto; bottom:0; right:0px; left:auto;}
	.image-slider-frame .bx-prev{top:auto; bottom:0; right:32px; left:auto;}
	.image-slider-frame .heading{left:0;}

	.content-columns{padding:25px;}
	.content-columns .col-1x2{float:none; width:auto; padding:0;}
	.content-columns .col-1x4{float:none; width:auto; padding:0;}

	.content-basic{padding:25px;}

	.content-room{height:auto; position:relative;}
	.content-room .image{float:none; width:100%; height:auto; position:relative;}
	.content-room .image img{display:block; max-width:100%;}
	.content-room .content{float:none; width:auto; height:auto; padding:25px; border-bottom:none;}
	.content-room .image .bx-next{top:auto; bottom:0; right:0;}
	.content-room .image .bx-prev{top:auto; bottom:0; right:32px;}

	.content-room .align-right{margin:-25px -25px 25px -25px;}
	.content-room .align-right .btn{display:block; border:none; text-align:center; background:#8f3575; line-height:32px; font-weight:500; color:#fff; text-decoration:none; font-size:16px;}

	.content-special{height:auto; position:relative;}
	.content-special .image{float:none; width:100%; height:auto; position:relative;}
	.content-special .image img{display:block; max-width:100%;}
	.content-special .content{float:none; width:auto; height:auto; padding:25px; border-bottom:none;}
	.content-special .image .bx-next{top:auto; bottom:0; right:0;}
	.content-special .image .bx-prev{top:auto; bottom:0; right:32px;}

	.content-special .align-right{margin:-25px -25px 25px -25px;}
	.content-special .align-right .btn{display:block; border:none; text-align:center; background:#8f3575; line-height:32px; font-weight:500; color:#fff; text-decoration:none; font-size:16px;}


	.image-gallery img{width:50%;}
	
	.form table{width:100%;}
	.form table td {display:block;border:none;padding:0;}
	.form td.heading{padding:5px !important;border-bottom:10px solid #fff;}
	.form input[type=text]{width:95%;}
	.form textarea{width:95%;}

	.form td:first-child{width:100%;}
	.form td:last-child{padding-bottom:15px;}
}


/* RSVP */
#rsvp_wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#rsvp_inner {
	width: 200%;
}

#rsvp_page_1, #rsvp_page_2 {
	width: 50%;
	float: left;
	text-align: center;
}

#rsvp_page_1_inner {
	width: 620px;
	margin: 0 auto;
	padding: 65px 0 75px 0;
}

#rsvp_page_1_inner h2 {
	color: #302f2d;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 30px 0;
	padding: 0;
	line-height: 48px;
	font-family: bebasregular;
}

.rsvp_content {
	color: #302f2d;
	font-size: 14px;
	line-height: 23px;
	font-family: nexa_lightregular;
}

.rsvp_content p {
	margin: 0 0 20px 0;
	padding: 0;
}

.rsvp_info {
	font-family: nexa_boldregular;
	color: #302f2d;
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 20px;
}

#rsvp_content-1 {
	background: url('../img/key.png') no-repeat center bottom;
	padding-bottom: 35px;
	margin-bottom: 30px;
}

#rsvp_button, #rsvp_page_2_inner input[type=submit] {
	font-family: nexa_lightregular;
	color: #fff;
	font-size: 14px;
	display: inline-block;
	background: #774e92;
	margin-top: 5px;
	padding: 3px 20px;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    border: none;
}

#rsvp_button:hover, #rsvp_page_2_inner input[type=submit]:hover {
	background: #242527;
}

#rsvp_page_2_inner {
	width: 460px;
	margin: 0 auto;
	padding: 65px 0 75px 0;
}

#rsvp_page_2_inner h2 {
	color: #302f2d;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 30px 0;
	padding: 0;
	line-height: 48px;
	font-family: bebasregular;
}

.form_line {
	margin-bottom: 75px;
}

.form_left {
	float: left;
	width: 47.82%;
}

.form_right {
	float: right;
	width: 47.82%;
}

.form_line input[type=text] {
	border: none;
	border-bottom: 1px solid #302f2d;
	font-family: nexa_lightregular;
	font-size: 14px;
	padding: 5px 2.27%;
	width: 95.46%;
}

.clear {
	clear: both;
}

#form_line-2 span {
	width: 100%;
	background: #595957;
	cursor: pointer;
	color: #fff;
	font-family: nexa_lightregular;
	font-size: 14px;
	padding: 3px 0;
	text-transform: uppercase;
	text-align: center;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    display: inline-block;
}

#form_line-3 span {
	background: #595957;
	cursor: pointer;
	color: #fff;
	font-family: nexa_lightregular;
	font-size: 14px;
	padding: 3px 10px;
	text-transform: uppercase;
	text-align: center;
	-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    display: inline-block;
}

#form_line-2 span:hover, #form_line-3 span:hover, .active_button {
	background: #774e92 !important;
}

#form_line-3 .form_left {
	text-align: right;
	margin-top: 10px;
}

#form_line-3 .form_right {
	text-align: left;
	margin-top: 10px;
}

#success {
	color: green;
	font-family: nexa_lightregular;
	font-size: 14px;
	margin-bottom: 10px;
	display: none;
}

#fail {
	color: red;
	font-family: nexa_lightregular;
	font-size: 14px;
	margin-bottom: 10px;
	display: none;
}

.rsvp_body {
	position: relative;
}

#and {
	width: 16.5625%;
	height: auto;
	position: absolute;
	bottom: 0;
	right: 0;
}



@media screen and (max-width: 619px) {
	#rsvp_page_1_inner {
		width: 90%;
	}
}

@media screen and (max-width: 459px) {
	#rsvp_page_2_inner {
		width: 90%;
	}
}

@media screen and (max-width: 399px) {
	#form_line-1 .form_left, #form_line-2 .form_left {
		float: none !important;
		width: 100% !important;
		margin-bottom: 15px;
	}

	#form_line-1 .form_right, #form_line-2 .form_right {
		float: none !important;
		width: 100% !important;
	}
}

#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
  
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
  
#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}

.top-nav li.translate{
	padding:0 0 0 12px!important;
}
ul.top-nav #google_translate_element{
	display: block;
}

.hentry{
	margin: 0 0 0 0;
}

.hentry {
		padding-top: 0%!important;
	}

.hentry {
	background-color: #fff;
	padding-top: 0;
	position: relative;
}

.hentry.has-post-thumbnail {
	padding-top: 0;
}

.hentry.sticky:not(.has-post-thumbnail) {
	padding-top: -webkit-calc(0);
	padding-top: calc(0);
}

.hentry + .hentry {
	border-top: 1px solid rgba(51, 51, 51, 0.1);
}
