
.site-main{
	padding-top: 0;
}

#post-contain{
	width:100%;
	@include clearfix;
}
.qandc-post{
	display:block;
	width:30.63333%;
	position: relative;
	float:left;
	margin: 3.0% 2.0%;
	height:486px;
	background-color: #fff;
	&:first-child{
		margin-left:0;
	}
	&:nth-child(3n){
		margin-right:0;
	}
	&:nth-child(4n){
		margin-left:0;
	}
	img{
		width:100%;
		height:auto;
		position: absolute;
		top: 0;
		z-index:8;
	}
	.content-header{
		position: relative;
		height:200px;
	}
	.date_block{
		position: absolute;
		background-color: #666;
		padding:0.25em 0.5em;
		z-index:10;
		color:#fff;
		text-transform: uppercase;
		.datemon{
			font-size: 1.0em;
			line-height: 0.5em;
		}
		.datenum{
			font-size: 1.5em;
			letter-spacing: 4px;
		}
	}
	.entry-title {
    font-size: 2.2rem;
    line-height: 1.2308;
    margin-bottom: 0.08em;
    margin-top:  0.5em;
    width:75%;
		float:left;
	}
	.entry-header{
		@include clearfix;
		
	}
	.readmore-arrow{
		width:50px;
		height:50px;
		position: relative;
		margin-top: 0.85em;
    opacity: 0.25;
	}
	@include media ($tablet) {
    width:100%;
    margin: 2.0em 0;
    @include clearfix;
    height: inherit;
    img{
    	position: relative;
    	width:100%;
    	height:auto;
    }
    .content-header{
    	width:50%;
    	float:left;
    	height:inherit;
    }
    .entry-header{
    	width:50%;
    	float:right;
    }
    .entry-content{
    	width:50%;
    	float:right;
    }
  }

}

.qandc-post-full{
	@extend .qandc-post;
	width:100%;	
	background-color: transparent;
	.date_block{
		position: relative;
		padding-left: 0.5em 1.0em;
	}
}

.content-header-single{

}

.entry-content-single{
	width:70%;
	display:block;
	float:right;
	background-color: #fff;
	padding: 1.0em;
}

.entry-header-single{
	width:25%;
	float:left;
	display:block;
	padding: 1.0em;
}

.more-link{
	display:none;
}

.desktop-list{
	display:block;
	@include media ($tablet) {
		display:none;
	}
}

.mobile-list{
	display:none;
	@include media ($tablet) {
		display:block;
	}
}

.footer-nav-5{
	button{
		font-size:0.5rem;
	}
}
